<html>
    <body>
        <h1>Movies - Subscriptions Web Site</h1>

        <big><b> Connected User: <%= name %> </b></big><br><br>

        <% if(perm.includes("View Movies")) { %>

            <button> <a href="/login/movies">Movies</a></button>

        <% } %>

        <% if(perm.includes("View Subscriptions")) { %>

            <button> <a href="/login/subscriptions">Subscriptions</a></button>

        <% } %> 

        <% if(name=="admin") { %>
        
            <button> <a href="/login/managUsers">Users Management</a></button>

        <% } %>

        <button> <a href="/login">Logout</a></button> <br><br>
<!----------------------------------------------------------------------------------------------------->
        <h2>Edit Member Page</h2>

        <form action="/login/subscriptions/updated" method="POST">

            <input type="hidden" name="id" value="<%=member._id%>">

            Enter the name of the member: <input type="text" value="<%=member.Name%>" name="name" required><br><br>

            Enter the member's email: <input type="email" value="<%=member.Email%>" name="email" required><br><br>

            Enter the member's city: <input type="text" value="<%=member.City%>" name="city" required><br><br>

            <input type="submit" value="Update"> 

            <button> <a href="/login/subscriptions">Cancel</a></button>

        </form>

    </body>
</html>