<html>
    <body>
        <h1>Movies - Subscriptions Web Site</h1>

        <big><b> Connected User: <%= name %> </b></big><br><br>

        <% if(perm.includes("View Movies")) { %>

            <button> <a href="/login/movies">Movies</a></button>

        <% } %>

        <% if(perm.includes("View Subscriptions")) { %>

            <button> <a href="/login/subscriptions">Subscriptions</a></button>

        <% } %> 

        <% if(name=="admin") { %>
        
            <button> <a href="/login/managUsers">Users Management</a></button>

        <% } %>

        <button> <a href="/login">Logout</a></button> <br><br>
<!----------------------------------------------------------------------------------------------------->
        <h2>Movies Page</h2>

        <form action="/login/movies/find" method="POST">
            
            Find Movie:  <input type="text" name="search">
            <input type="submit" value="Find">

        </form><br>

        <button> <a href="/login/movies">All Movies</a></button>

        <% if(perm.includes("Create Movies")) { %>

            <button> <a href="/login/movie/addMovie">Add Movie</a></button>

        <% } %>
        <br><br>

        <!--loop that get all movies -->
        <% for( var i=0; i < movies.length; i++) { %>
        
            <table border="2">         
            <td>
                <h2> <%=movies[i].Name%>, <%=movies[i].Premiered.slice(0, 4)%> </h2>
                <big>  Genres: <%=movies[i].Genres%> <br><br></big>
                <img src="<%=movies[i].Image%>" width="200px" height="300px"><br><br>
                
                <!--if this user have permission to update movies-->
                <% if(perm.includes("Update Movies")) { %>

                    <button> <a href="/login/movies/edit/<%=movies[i]._id%>"> Edit </a></button>
                
                <% } %>

                <!--if this user have permission to delete movies-->
                <% if(perm.includes("Delete Movies")) { %>

                    <button> <a href="/login/movies/delete/<%=movies[i]._id%>"> Delete </a></button>
                
                <% } %>
                <br><br>

                <!--if this user have permission to view subs-->
                <% if(perm.includes("View Subscriptions")) { %>

                <table border="1">         
                <td> 
                    <big><b id="<%=movies[i]._id%>">No One Watched This Movie!!</b><br>
               
                    <!--loop that checks all subs -->
                    <% for (var k=0; k < subs.length; k++) {%>
                    
                        <!--loop that check member subs in this movie -->
                        <% for (var x=0; x < subs[k].Movies.length; x++) {%>
                        <ul>
                            <!--check members that watched this movie already -->
                            <% if (subs[k].Movies[x].MovieId == movies[i]._id) {%>
                            <li>
                                <!--loop that get all members -->
                                <% for (var j=0; j < members.length; j++) {%>

                                    <!--check members who watched this movie -->
                                    <% if (members[j]._id == subs[k].MemberId) {%>
                                         
                                        <!--member name + link to member page -->
                                        <a href="/login/subscriptions/<%=members[j]._id%>"> <%=members[j].Name%></a>,
                                    
                                        <script>
                                            // change each movie text if someone watched it or not
                                            document.getElementById("<%=movies[i]._id%>").innerHTML="The Members Who Watched This Movie:"
                
                                        </script>

                                        <!--full date as day/month/year -->
                                        <%=subs[k].Movies[x].Date.slice(8,10)%>/<%=subs[k].Movies[x].Date.slice(5,7)%>/<%=subs[k].Movies[x].Date.slice(0,4)%>
                                        
                                    <% } %> 
                                <% } %> 
                            </li> 
                            <% } %> 
                        </ul>        
                        <% } %>  
                    <% } %>
                </td>
                </table>
                <% } %>
            </big>
            </td>
            </table>

            <br><br>
        <% } %>
    </body>
</html>