<html>
    <body>
        <h1>Movies - Subscriptions Web Site</h1>

        <big><b> Connected User: <%= name %> </b></big><br><br>

        <% if(perm.includes("View Movies")) { %>

            <button> <a href="/login/movies">Movies</a></button>

        <% } %>

        <% if(perm.includes("View Subscriptions")) { %>

            <button> <a href="/login/subscriptions">Subscriptions</a></button>

        <% } %> 

        <% if(name=="admin") { %>
        
            <button> <a href="/login/managUsers">Users Management</a></button>

        <% } %>

        <button> <a href="/login">Logout</a></button> <br><br>
<!----------------------------------------------------------------------------------------------------->
        <h2>Subscriptions Page</h2>

        <button> <a href="/login/subscriptions">All Members</a></button>

        <% if(perm.includes("Create Subscriptions")) { %>

            <button> <a href="/login/subscription/addMember">Add Member</a></button>

        <% } %>
        <br><br>

        <!--loop that get all members -->
        <% for( var i=0; i < members.length; i++) { %>
        
            <table border="2">         
            <td>
                <h2> <%=members[i].Name%> </h2>
                
                <big>

                Email: <%=members[i].Email%><br>
                City: <%=members[i].City%><br><br>

                </big>
                
                <!--if this user have permission to update subs-->
                <% if(perm.includes("Update Subscriptions")) { %>

                    <button> <a href="/login/subscriptions/edit/<%=members[i]._id%>"> Edit </a></button>

                <% } %>

                <!--if this user have permission to delete subs-->
                <% if(perm.includes("Delete Subscriptions")) { %>

                    <button> <a href="/login/subscriptions/delete/<%=members[i]._id%>"> Delete </a></button>
                
                <% } %>  
                <br><br>

                <!--if this user have permission to view movies-->
                <% if(perm.includes("View Movies")) { %>

                <script>// function that show's adding subscriptions to movies to subs

                    function showORhide(obj)
                    {
                        let id=""+obj.id+"";
            
                        let check= false;
            
                        if(document.getElementById(id).style.visibility == "hidden")
                        {
                            document.getElementById(id).style.visibility = "visible";
            
                            check=true;
                        }
            
                        if(document.getElementById(id).style.visibility == "visible" && check==false)
                        {
                            document.getElementById(id).style.visibility = "hidden";
                        }
                    }
            
                </script>

                <table border="1" >         
                <td> 
                   <big> <b id="<%=members[i].Name%>"> This Member Didn't Watched Any Movie!! </b><br>
                    
                    <!--loop that checks all subs -->
                    <% for (var k=0; k < list.length; k++) {%>
                    
                        <!--check subs in this member -->
                        <% if(list[k].MemberId==members[i]._id) { %>
                        <ul>
                            <!--loop that check movie subs in this member -->
                            <% for (var x=0; x < list[k].Movies.length; x++) {%>
                            <li>
                                <!--loop that get all movies -->
                                <% for (var y=0; y < movies.length; y++) {%>

                                    <!--check movies that this member already sub to -->
                                    <% if(list[k].Movies[x].MovieId==movies[y]._id) { %>
                                        
                                        <!--movie name + link to movie page -->
                                        <a href="/login/movies/<%=movies[y]._id%>"><%=movies[y].Name%></a>,

                                        <script>
                                            // change each member text if watched movies or not
                                            document.getElementById("<%=members[i].Name%>").innerHTML="The Movies This Member Watched:"
                
                                        </script>

                                        <!--full date as day/month/year -->
                                        <%=list[k].Movies[x].Date.slice(8,10)%>/<%=list[k].Movies[x].Date.slice(5,7)%>/<%=list[k].Movies[x].Date.slice(0,4)%>
                                        
                                    <% } %>
                                <% } %>
                            </li> 
                            <% } %>
                        </ul>
                        <% } %>
                    <% } %>
                    <br>

                    <input type="button" value="Subscribe to a new movie" onclick="showORhide(document.getElementById('<%=members[i]._id%>'))">

                    <!--shows add button to the user with right permission-->
                    <div id="<%=members[i]._id%>" style="visibility: hidden;"><br>
                 
                        <b> Add a new movie: </b><br><br>

                        <form action="/login/subscriptions/allMembers" method="post">

                            <select name="movie" required>

                                <option value="">--Select Movie--</option>
                                 
                                <!--variable to see if this member has already subs-->
                                <% let check=0 %>

                                <!--variable to get all subs of this member-->
                                <% let arr=[] %>

                                <!--loop that checks all subs -->
                                <% for (var k=0; k < list.length; k++) {%>

                                    <!--check subs in this member -->
                                    <% if(list[k].MemberId==members[i]._id) { %>
                                        
                                        <!--loop that get all movies -->
                                        <% for(var j=0; j < movies.length; j++) {%>
                                            
                                            <!--loop that check movie subs in this member -->
                                            <% for (var x=0; x < list[k].Movies.length; x++) {%>   
                                        
                                                <!--check movies that this member already sub to -->
                                                <% if(list[k].Movies[x].MovieId == movies[j]._id) { %>
                                            
                                                    <!--arr get all subs that this member already sub to-->
                                                    <% arr.push(movies[j]._id)%>

                                                <% } %>
                                            <% } %>

                                            <!--check movies that this member not sub to -->
                                            <%  if(!arr.includes(movies[j]._id)){ %>

                                                <option value="<%=movies[j].Name%>"> <%=movies[j].Name%> </option>
                                                
                                                <!--check gets 1 so the code will not go twice or more on the movies list-->
                                                <% check=1 %>

                                            <% } %> 
                                        <% } %>
                                    <% } %>
                                <% } %>

                                <!--only if this member don't have subs-->
                                <% if(check==0) { %>

                                    <!--loop that get all movies -->
                                    <% for(var j=0; j < movies.length; j++) {%>

                                        <option value="<%=movies[j].Name%>"> <%=movies[j].Name%> </option>
                                        
                                    <% } %>
                                <% } %>

                            </select><br>

                            <input type="date" name="date" required><br><br>
                            <input type="hidden" name="id" value="<%=members[i]._id%>">
                            <input type="submit" value="Subscribe">

                        </form>
                    </div>
                    </big>
                </td>
                </table>
                <% } %> 
            </td>
            </table>

            <br><br>
        <% } %>
    </body>
</html>